<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="../../static/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
         <header th:replace="layout/plantilla :: header"/>
              <div class="contenido"> 
        <h2>Datos de Categorias</h2>
        <a th:href="@{/categoria/listado}">Regresar</a>
        <hr>
        <form th:action="@{/categoria/guardar}"
         method="Post"  
         th:object="${categoria}">
             <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
          
             
            <label for="descripcion">descripcion</label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <br>
             <label for="activo">activo</label>
            <input type="boolean" name="activo" th:field="*{activo}"/>
            <br
            <hr>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
              </div>
        <footer th:replace="layout/plantilla :: footer"/>   
    </body>
</html>
